html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Making sure the root container fills the screen */
#root {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
